{#<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/typography.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}"/>
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
#}
<link media="screen" rel="stylesheet" type="text/css" href="{{ swagger_static('droid-sans.css') }}" />
<link media="screen" rel="stylesheet" type="text/css" href="{{ swagger_static('swagger-ui.css') }}" />
<style>
html
{
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
*,
*:before,
*:after
{
  box-sizing: inherit;
}

body {
  margin:0;
  background: #fafafa;
}
    
td {
  text-align: left;
  vertical-align: center;
}
/* .opblock.opblock-get {
    border-color: #6699ff !important;
    background: #edf3ff !important;
}
.opblock-summary-method {
    background: #0000FF !important;
} */

#swagger-ui{
        max-width: 1000px;
        min-width: 500px;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
}

/* .swagger-ui .btn.execute {
    background-color: #6699ff;
    color: #fff;
    border-color: #6699ff;
} */
</style>
